@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

body {
  @apply font-sans;
  text-align: center;
  margin: 0;
  padding: 0;
}

.app {
  @apply flex flex-col items-center justify-center h-screen;
}

h1 {
  @apply text-3xl font-bold text-gray-800 bg-blue-500 p-4; /* Add bg-blue-500 for blue background and padding */
}

.image-container {
  @apply flex justify-around mt-8;
}

.image-container img {
  @apply w-52 h-52 rounded-md m-2;
}

